/* Entire Feedback Box */
.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  min-height: 200px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #ffffff;
  border-radius: 12px;
  padding: 60px 30px;
  text-align: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #b91c1c;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Buttons */
.feedback-actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#feedbackBox .btn {
  z-index: 100;
  display: block; 
  width: 200px;              
  max-width: auto;  
  font-size: 1.1rem; 
}

.btn:hover {
  background: var(--secondary);
  transform: translateY(-2px);
}

/* Image */
#correctAnswerImage {
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
}