/* Tutorial Styles */

/* Tutorial Overlay Structure */
.tutorial {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  min-height: 200px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 16px;
  box-shadow: var(--shadow);
  text-align: center;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial-content {
  background: var(--card);
  color: var(--text);
  padding: 40px;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  border-radius: 16px;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
}

/* Slides */
.slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0; 
  max-height: auto;
  overflow: hidden;
}

.slide-image {
  max-height: 100%;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
  object-fit: contain;
}

/* Navigation */
.slideshow-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.nav-btn-left {
  background: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.2s;
  position: absolute;
  left: 0;
}

.nav-btn-right {
  background: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background 0.2s;
  position: absolute;
  right: 0;
}

.slide-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  margin-top: 15px;
}

.nav-btn:hover {
  background: var(--secondary);
  transform: translateY(-2px);
}